:root {
  --TealGreen: #15998e;
  --spearmint: #45b08c;
  --Teal: #48bcd1;
  --BabyBlue: #87c2e4;
  --btnbg: #004752;
  --btncolor: #06C1DE;
}
html {
  font-size: 30px;
  background: linear-gradient(45deg, var(--TealGreen), var(--Teal));
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.2rem;
  background: var(--spearmint);
  width: fit-content;
}

/* --- TABLICA WYNIKÓW --- */

.score-board {
  border: 1px solid rgb(0, 0, 0);
  gap: 0.2rem;
  margin: 0.3rem;
}
.stats {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 0.8rem;
  line-height: 1rem;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 1px 1px black;
}

 /* --- PRZYCISKI --- */
 
.buttons {
  display: flex;
  justify-content: space-between;
}
.btn {
  box-shadow: 1px 0.2rem var(--btnbg);
  display: inline-block;
	position: relative;
	width: 4rem;
	height: 2rem;
	color: white;
	text-transform: uppercase;
	background-color: var(--btncolor);
	border: none;
  margin: 0.3rem;
	border-radius: 0.5rem;
	box-sizing: border-box;
	cursor: pointer;
	font-family: 'Press Start 2P', cursive;
  text-shadow: 1px 1px black;
	outline: none;
}
.btn::after {
	position: absolute;
	width: 300px;
	height: 120px;
	top: 12px;
	left: 0;
	background-color: var(--btnbg);
	border-radius: 24px;
	z-index: -1;
}
.btn:hover {
	background-color: #06B6D1;
}
.btn:active {
	top: 5px;
  box-shadow: 1px 0.02rem var(--btnbg);

}
.btn:active::after {
	top: 2px;
}

/* --- POLE GRY --- */

.game-board {
  border: 1px solid rgb(122, 3, 3);
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(6, auto);
}
#tester > div {
  width: 2.3rem;
  height: 2.3rem;
  margin: 10px;
  line-height: 2.3rem;
  background: var(--BabyBlue);
  border-radius: 0.2rem;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
  font-size: 50px;
  text-align: center;
}
#tester > div:hover {
  background-color: #699fbe;
  /* color: #004752; */
}
#hidden {
  visibility: hidden;
}
div[lang="anime"] {
  animation: anime 0.4s linear both;
}
@-webkit-keyframes anime {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, -360deg);
  }
}
@keyframes anime {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, -360deg);
  }
}
