:root {
  --TealGreen: #15998e;
  --spearmint: #45b08c;
  --Teal: #48bcd1;
  --BabyBlue: #87c2e4;
  --btnbg: #004752;
  --btncolor: #06c1de;
}
html {
  font-size: 25px;
  background-image: url("https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game {
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 0.2rem;
  height: fit-content;
  box-shadow: 2px 2px 5px #0b0b0b;
  background-color: #4158d0;
  background-image: linear-gradient(
    -45deg,
    #4158d0 0%,
    #c850c0 26%,
    #ffcc70 100%
  );
}

/* /--/- TABLICA WYNIKÓW --- */

.score-board {
  gap: 0.2rem;
  margin: 0.3rem;
}
.stats {
  display: flex;
  justify-content: left;
  flex-direction: column;
  color: white;
  font-size: 0.8rem;
  line-height: 1rem;
  font-family: "Press Start 2P", cursive;
  text-shadow: 1px 1px black;
}
.stats * {
  padding: 0.4rem;
}
/* --- PRZYCISKI --- */

.buttons {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.btn {
  box-shadow: 1px 0.2rem var(--btnbg);
  display: inline-block;
  position: relative;
  justify-content: center;
  padding: 0.5rem;
  color: white;
  text-transform: uppercase;
  background-color: var(--btncolor);
  border: none;
  margin: 0.3rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  text-shadow: 1px 1px black;
  outline: none;
}

.btn::after {
  position: absolute;
  width: 300px;
  height: 120px;
  top: 12px;
  left: 0;
  background-color: var(--btnbg);
  border-radius: 24px;
  z-index: -1;
}
.btn:hover {
  background-color: #06b6d1;
}
.btn:active {
  top: 5px;
  box-shadow: 1px 0.02rem var(--btnbg);
}
.btn:active::after {
  top: 2px;
}
#reset {
  background-color: #f03576;
  box-shadow: 1px 0.2rem #4a0920;
}
#reset:hover {
  background-color: #cf3269;
}
#reset:active {
  top: 5px;
  box-shadow: 1px 0.02rem #4a0920;
}

/* --- POLE GRY --- */

.game-board {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(6, auto);
}
#tester > div {
  width: 2.3rem;
  height: 2.3rem;
  margin: 0.2rem;
  line-height: 2.3rem;
  background: #d8ec2567;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 5px #0b0b0b;
  cursor: pointer;
  user-select: none;
  font-size: 1.4rem;
  text-align: center;
}
#tester > div:hover {
  background-color: #d8b931;
}
#hidden {
  visibility: hidden;
}
div[lang="anime"] {
  animation: anime 0.4s linear both;
}
@-webkit-keyframes anime {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, -360deg);
  }
}
@keyframes anime {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, -360deg);
  }
}

/* dodatkowy popup   */
#popap {
  z-index: 6;
  position: fixed;
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  backdrop-filter: blur(15px);
  font-family: "M PLUS 1 Code", sans-serif;
  color: #efeded;
  text-shadow: 2px 2px 3px #0b0b0b;
  border-radius: 0.7rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  color: #ececec;
  font-size: 0.5rem;
}